<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">.</Property>
		<Property name="nameOfFile">deconcat</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<Console name="SimpleConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS}%msg%n" />
		</Console>
		<File name="FileLog" fileName="{$basePath}/{$nameOfFile}.log" immediateFlush="true" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="core.FileShuffler" level="INFO" additivity="false">
			<AppenderRef ref="SimpleConsole" />
		</logger>
		<logger name="controllers.Deconcatenator" level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLog" />
		</logger>
		<logger name="controllers.Calculator" level="INFO" additivity="false">
			<AppenderRef ref="FileLog" />
		</logger>
	</Loggers>
</Configuration>